/* -------- Variables--------- */
$rojo: #fc4141;
$azul: #2727e5;
$amarillo: #fedb31;
$gris: #e5e5e5;

$grotesque: 'Darker Grotesque', sans-serif;
$poppins: 'Poppins', sans-serif;
$pixel: 'Mister Pixel', sans-serif;

$left: 60px; 

* {
    box-sizing: border-box;
    overscroll-behavior: none;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: $poppins;
    color: $azul;
    font-size: 18px;
}

h4 {
    font-family: $poppins;
    font-size: 20px;
    font-weight: 700;
}

h1 {
    font-family: $pixel;
    font-size: 42px;
    -webkit-font-smoothing: none;
}
.text-center {
    text-align: center;
}

/* -------- HOME -------- */
.home {
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    .botones {
        margin-top: 2em;
        text-align: center;
        color: $azul;
        font-family: $grotesque;
        font-weight: 700;
        font-size: 30px;

        a {
            text-decoration: none;
            color: $azul;
            &:hover {
                color: $rojo;
            }
        }
    }
}

#content    {
    height: 100vh;
}

.contenido {
    overflow-x: hidden;
    width: calc(100vw - (#{$left}*3)); 
    height: 100%;  
    box-shadow: -5px 0px 15px #9b9b9b5d;
    transition: left 0.7s;
    position: absolute;
    top: 0;
    background-color: white;
}

//barra seleccionada
.selected {
    .sidebar {
        display: none;
    }
    
    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }

    &#barra_4 {
        left: $left*3;
    }
}

/* ------ barras no seleccionadas ------ */
.siguiente, .anterior {
    cursor: pointer;
    overflow-y: hidden;

    &.siguiente {
        .sidebar {
            color: $azul;
        }
    }

    &.anterior {
        .sidebar {
            color: $rojo;
        }
    }
}

//barras siguiente
.siguiente {
    &#barra_2 {
        left: calc(100vw - (#{$left}*3));
    }
    
    &#barra_3 {
        left: calc(100vw - (#{$left}*2));
    }
    
    &#barra_4 {
        left: calc(100vw - #{$left});
    }
}

//barras anteriores
.anterior {
 
    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }
}

section {
    min-height: 100%;
    background-attachment: fixed;
    border-bottom: 2px $azul dashed;
}

/*-- contenidos --*/
.container {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    //border: solid 1px red;
    margin: auto auto;
    display: flex;

    .col-6 {
        width: 50%;
        padding: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }
}


/* ------- INTRODUCCIÓN -------- */
.intro-expo {
    display: flex;

    p {
        margin: 0;
        font-size: 24px;
        line-height: 1.5;
    }

    img {
        margin-top: 8px;
    }
}

.caminos {
    display: flex;
}




/*---- side bar ---- */
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        background-color: white;
        padding: 20px 10px;
    
        display: flex;
        flex-direction: column;

        h2 {
        transform: rotate(90deg);
        font-family: $grotesque;
        font-weight: 600;
        }

        img {
            height: 40px;
        }
    }

// quitar scrollbars
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.contenido {
    scrollbar-width: none;
}



/* ------ Fuentes ------ */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Mister Pixel';
    font-weight: normal;
    src: url('../fonts/pixel.woff') format('woff');
}