/* -------- VARIABLES --------- */
$rojo: #fc4141;
$azul: #2727e5;
$amarillo: #fedb31;
$gris: #e5e5e5;

$grotesque: 'Darker Grotesque', sans-serif;
$poppins: 'Poppins', sans-serif;
$pixel: 'Mister Pixel', sans-serif;

$menu-width: 30px;

* {
    box-sizing: border-box;
    overscroll-behavior: none;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: $poppins;
    color: $azul;
    font-size: 16px;
}

body {
    position: relative;
}

h4 {
    font-family: $poppins;
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-family: $pixel;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
}

h1 {
    font-family: $pixel;
    font-size: 38px;
    -webkit-font-smoothing: none;
}
.text-center {
    text-align: center;
}

.btm {
    margin-bottom: 5vh;
}

marquee {
    height: 42px;
    p {
        margin: 0;
        line-height: 42px;
    }
}

/* -------- HOME -------- */
.home {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    marquee {
        background-color: $rojo;
        color: white;
    }
        
    .img-logo {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    

        .botones {
            margin-top: 2em;
            text-align: center;
            color: $azul;
            font-family: $grotesque;
            font-weight: 700;
            font-size: 30px;

            a {
                text-decoration: none;
                color: $azul;
                cursor: pointer;
                &:hover {
                    color: $rojo;
                }
            }
        }
    }
}

#menu {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    transition: width 1s;
    background-color: white;
    box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.09);
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .cerrar {
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
        width: 70px;
        padding: 20px;
        cursor: pointer;
    }

    h1 {
        margin: 0;
    }

    section {
        flex-basis: 100%;
        box-shadow: -8px 0px 13px 0px rgba(0,0,0,0.09);
        cursor: pointer;

        h1 {
            padding: 80px 20px;
            height: 20%;
            background-color: white;
        }

        .bg-img {
            width:100%;
            height: 100%;
            background-repeat: repeat;
            object-fit: cover;

            
        }
    }

    &.abierto {
        width: 100%;

        .sidebar {
            left: -5%;
        }
        
    }

    &.cerrado {
        width: $menu-width;

        .cerrar {
            display: none;
        }
    }

    .sidebar {
        position: absolute;
        top: 0;
        left:0;
        width: $menu-width;
        height: 100%;
        background-color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5vh 0;

        .texto-menu {
            display: flex;
            flex-direction: column;

            h2 {
                transform: translate(10% , -50%) rotate(90deg);
                font-family: $grotesque;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                color: $rojo;

                a {
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: $azul;
                    }
                }

                &.idioma {
                    display: flex;
                    a {
                        padding: 0 4px;
                    }
                }
            }
        
            img {
                height: 12px;
                margin-bottom: 25px;
            }

        }
    }   
}

#content    {
    height: 100vh;
}

.contenido {
    overflow-x: hidden;
    width: 100%; 
    height: 100%;  
    transition: left 0.5s;
    position: absolute;
    top: 0;
    background-color: white;

    -webkit-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.09);
    box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.09);

    &.selected {
        left: 0;
    }

    &.siguiente {
        left: 105%;
    }

    &.anterior {
        left: 0;
    }
}


#content section {
    min-height: 100%;
    display: flex;
}

/*-- contenidos --*/
.container {
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    margin: auto auto;
    display: flex;

    .col-6 {
        width: 50%;
        padding: 10px;
    }

    .col-2 {
        width: 16.66%;
        padding: 10px;
    }

    .col-10 {
        display: flex;
        flex-wrap: wrap;
        width: 83.33%;
        padding: 10px;
    }

    .col-12 {
        display: flex;
        width: 100%;
        padding: 10px;
    }

    .col-8 {
        width: 66.6%;
        padding: 10px;
    }

    .col-4 {
        display: flex;
        flex-direction: column;
        width: 33.3%;
        padding: 10px;
    }

    .divider {
        width: 100%;
        border-bottom: solid 1px blue;
        margin-top: 3vh;
        margin-bottom: 3vh;
        padding: 10px;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 0;
    }
}


/* ------- INTRODUCCIÓN -------- */
.intro-expo {
    
    p {
        font-size: 20px;
    }

    img {
        margin-top: 8px;
    }
}

.caminos {
    display: flex;
}

/* ---infografia---- */
.infografia {
    .titulo {
        flex-direction: column;

        h1 {
            margin-top: 0;
        }
    }

    .cita {
        font-size: 30px;
    }
}

/* --- VIDEO ----*/
.video {
    min-height: auto;
    
    .player {
        width: 100%;
        height: 100%;
    }
}

/* --- PIEZA ---- */
.pieza {
    .container {
        flex-wrap: wrap;
    }

    .col-12 {
        justify-content: center;
    }

    p {
        font-size: 18px;
    }
}

/* ---- PARCHES ----- */
.parches {
    background-color: $azul;
    position: relative;

    .titulo {
        font-size: 3vw;
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%
    }

    .parche {
        background-color: white;
        position: absolute;
        cursor: pointer;

        &.playing {
            background-color: $amarillo;
        }
        
        &:nth-child(1n) {
            top: 60vh;
            left: 10vw;
            height: 10vh;
            width: 10vh;
        }

        &:nth-child(2n) { 
            top: 5vh;
            left: 40vw;
            height: 12vh;
            width: 12vh;
        }

        &:nth-child(3n) {
            top: 21vh;
            left: 13vw;
            height: 18vh;
            width: 18vh;
        }

        &:nth-child(4n) {
            top: 56vh;
            left: 70vw;
            height: 20vh;
            width: 20vh;
        }

        &:nth-child(5n) {
            top: 80vh;
            left: 40vw;
            height: 14vh;
            width: 14vh;
        }
    }
}

/* ------ QUITAR BARRAS DE SCROLL ------ */
::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.contenido {
    scrollbar-width: none;
}



/* ------ TIPOGRAFÍAS ------ */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Mister Pixel';
    font-weight: normal;
    src: url('../fonts/pixel.woff') format('woff');
}