$left:5vw;

* {
    box-sizing: border-box;
    overscroll-behavior: none;
    
}
html, body{
      margin: 0;
      padding: 0;
      overflow-x: hidden;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    position: relative;
    top: 50%;
    font-size: 30px;
}

/* Pantallas grandes */

#content    {
    width: 300vw;
    height: 100vh;
    box-sizing: border-box;
    float: left;
    //position: relative;
}

.contenido {
width: 100vw - ($left*3); 
height: 100vh; 
background-color: white; 
border: none;
text-align:center;
//position: relative;
display: inline-block;
vertical-align: top;

box-shadow: -5px 0px 25px #a6a4a4;
transition: 0.5s;

}

.selected {
    position: absolute;
    height: 100%;
    top: 0;
    
    background-color: LIGHTCYAN;

    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }

    &#barra_4 {
        left: $left*3;
    }
}


.siguiente {
    position: absolute;
    top: 0;
    height: 100vh;
    cursor: pointer;

    h1 {
        writing-mode: vertical-rl;
        transform: translate(0, -50%);
    }

    &:hover{
        background-color:  LIGHTPINK;
    }

    &#barra_2 {
        left: 100vw - ($left*3);
    }
    
    &#barra_3 {
        left: 100vw - ($left*2);
    }
    
    &#barra_4 {
        left: 100vw - ($left);
    }
}

.anterior {
    position: absolute;
    top: 0;
    transition: 0.5s;
    height: 100vh;
    cursor: pointer;
    transition: 0.5s;

    h1 {
        writing-mode: vertical-rl;
        transform: translate(0, -50%);
    }

    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }

}








