$left:5vw;

* {
    box-sizing: border-box;
    overscroll-behavior: none;
    
}
html, body{
      margin: 0;
      padding: 0;
      overflow-x: hidden;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    position: relative;
    top: 50%;
    font-size: 30px;
}

/* Pantallas grandes */

#content    {
    width: 300vw;
    height: 100vh;
    box-sizing: border-box;
    float: left;
    //position: relative;
}

.contenido {
width: 100vw - ($left*3); 
height: 100vh;  
border: none;
text-align:center;
//position: relative;
display: inline-block;
vertical-align: top;

box-shadow: -5px 0px 25px #0000002b;
transition: 1s;

}

.selected {
    position: absolute;
    height: 100%;
    top: 0;
    
    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }

    &#barra_4 {
        left: $left*3;
    }
}


.siguiente {
    position: absolute;
    top: 0;
    height: 100vh;
    cursor: pointer;

    h1 {
        writing-mode: vertical-rl;
        transform: translate(0, -50%);
    }

    &#barra_2 {
        left: 100vw - ($left*3);
    }
    
    &#barra_3 {
        left: 100vw - ($left*2);
    }
    
    &#barra_4 {
        left: 100vw - ($left);
    }
}

.anterior {
    position: absolute;
    top: 0;
    height: 100vh;
    cursor: pointer;

    h1 {
        writing-mode: vertical-rl;
        transform: translate(0, -50%);
    }

    &#barra_1 {
        left: 0;
    }
    
    &#barra_2 {
        left: $left;
    }
    
    &#barra_3 {
        left: $left*2;
    }

}

section {
    height: 100%;
    transition: color 0.3s;
}


.contenido {
    overflow-x: hidden;
    
    &.selected {
        overflow-x: overlay;
    }

    &:nth-child(odd) {
        section {
            &:nth-child(odd) {
                background: rgb(238, 126, 126);
            }
        
            &:nth-child(even) {
                background: rgb(128, 229, 240);
            }
        }
    }

    &:nth-child(even) {
        section {
            &:nth-child(even) {
                background: rgb(238, 126, 126);
            }
        
            &:nth-child(odd) {
                background: rgb(128, 229, 240);
            }
        }
    }
}


// remove scrollbars

::-webkit-scrollbar {
    display: none;
}


body {
    -ms-overflow-style: none;
}