@charset "UTF-8";
/* -------- Variables--------- */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  overscroll-behavior: none; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
  color: #2727e5;
  font-size: 18px; }

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700; }

h1 {
  font-family: "Mister Pixel", sans-serif;
  font-size: 42px;
  -webkit-font-smoothing: none; }

.text-center {
  text-align: center; }

/* -------- HOME -------- */
.home {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px; }
  .home .botones {
    margin-top: 2em;
    text-align: center;
    color: #2727e5;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px; }
    .home .botones a {
      text-decoration: none;
      color: #2727e5; }
      .home .botones a:hover {
        color: #fc4141; }

#content {
  height: 100vh; }

.contenido {
  overflow-x: hidden;
  width: calc(100vw - (60px*3));
  height: 100%;
  box-shadow: -5px 0px 25px #0000002b;
  transition: left 0.7s;
  position: absolute;
  top: 0;
  background-color: white; }

.selected .sidebar {
  display: none; }

.selected#barra_1 {
  left: 0; }

.selected#barra_2 {
  left: 60px; }

.selected#barra_3 {
  left: 120px; }

.selected#barra_4 {
  left: 180px; }

/* ------ barras no seleccionadas ------ */
.siguiente, .anterior {
  cursor: pointer;
  overflow-y: hidden; }
  .siguiente.siguiente .sidebar, .anterior.siguiente .sidebar {
    color: #2727e5; }
  .siguiente.anterior .sidebar, .anterior.anterior .sidebar {
    color: #fc4141; }

.siguiente#barra_2 {
  left: calc(100vw - (60px*3)); }

.siguiente#barra_3 {
  left: calc(100vw - (60px*2)); }

.siguiente#barra_4 {
  left: calc(100vw - 60px); }

.anterior#barra_1 {
  left: 0; }

.anterior#barra_2 {
  left: 60px; }

.anterior#barra_3 {
  left: 120px; }

section {
  min-height: 100%;
  background-attachment: fixed;
  border-bottom: 2px #2727e5 dashed; }

/*-- contenidos --*/
.container {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  margin: auto auto;
  display: flex; }
  .container .col-6 {
    width: 50%;
    padding: 10px; }
    .container .col-6 img {
      width: 100%;
      height: auto; }

/* ------- INTRODUCCIÓN -------- */
.intro-expo {
  display: flex; }
  .intro-expo p {
    margin: 0;
    font-size: 24px;
    line-height: 1.5; }
  .intro-expo img {
    margin-top: 8px; }

.caminos {
  display: flex; }

/*---- side bar ---- */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column; }
  .sidebar h2 {
    transform: rotate(90deg);
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600; }
  .sidebar img {
    height: 40px; }

::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none; }

.contenido {
  scrollbar-width: none; }

/* ------ Fuentes ------ */
@font-face {
  font-family: 'Mister Pixel';
  font-weight: normal;
  src: url("../fonts/pixel.woff") format("woff"); }
