@charset "UTF-8";
/* -------- Variables--------- */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  box-sizing: border-box;
  overscroll-behavior: none; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
  color: #2727e5;
  font-size: 16px; }

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700; }

h5 {
  font-family: "Mister Pixel", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0; }

h1 {
  font-family: "Mister Pixel", sans-serif;
  font-size: 38px;
  -webkit-font-smoothing: none; }

.text-center {
  text-align: center; }

.btm {
  margin-bottom: 5vh; }

/* -------- HOME -------- */
.home {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px; }
  .home .botones {
    margin-top: 2em;
    text-align: center;
    color: #2727e5;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 30px; }
    .home .botones a {
      text-decoration: none;
      color: #2727e5; }
      .home .botones a:hover {
        color: #fc4141; }

#content {
  height: 100vh; }

.contenido {
  overflow-x: hidden;
  width: calc(100vw - (60px*3));
  height: 100%;
  box-shadow: -5px 0px 15px #9b9b9b5d;
  transition: left 0.7s;
  position: absolute;
  top: 0;
  background-color: white; }

.selected .sidebar {
  display: none; }

.selected#barra_1 {
  left: 0; }

.selected#barra_2 {
  left: 60px; }

.selected#barra_3 {
  left: 120px; }

.selected#barra_4 {
  left: 180px; }

/* ------ barras no seleccionadas ------ */
.siguiente, .anterior {
  cursor: pointer;
  overflow-y: hidden; }
  .siguiente.siguiente .sidebar, .anterior.siguiente .sidebar {
    color: #2727e5; }
  .siguiente.anterior .sidebar, .anterior.anterior .sidebar {
    color: #fc4141; }
  .siguiente .video, .anterior .video {
    visibility: hidden; }

.siguiente#barra_2 {
  left: calc(100vw - (60px*3)); }

.siguiente#barra_3 {
  left: calc(100vw - (60px*2)); }

.siguiente#barra_4 {
  left: calc(100vw - 60px); }

.anterior#barra_1 {
  left: 0; }

.anterior#barra_2 {
  left: 60px; }

.anterior#barra_3 {
  left: 120px; }

section {
  min-height: 100%;
  background-attachment: fixed;
  border-bottom: 2px #2727e5 dashed;
  display: flex; }

/*-- contenidos --*/
.container {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  margin: auto auto;
  display: flex; }
  .container .col-6 {
    width: 50%;
    padding: 10px; }
  .container .col-2 {
    width: 16.66%;
    padding: 10px; }
  .container .col-10 {
    display: flex;
    flex-wrap: wrap;
    width: 83.33%;
    padding: 10px; }
  .container .col-12 {
    display: flex;
    width: 100%;
    padding: 10px; }
  .container .col-8 {
    width: 66.6%;
    padding: 10px; }
  .container .col-4 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding: 10px; }
  .container .divider {
    width: 100%;
    border-bottom: solid 1px blue;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 10px; }
  .container img {
    width: 100%;
    height: auto;
    margin-bottom: 1em; }
  .container p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0; }

/* ------- INTRODUCCIÓN -------- */
.intro-expo p {
  font-size: 20px; }

.intro-expo img {
  margin-top: 8px; }

.caminos {
  display: flex; }

/* ---infografia---- */
.infografia .titulo {
  flex-direction: column; }
  .infografia .titulo h1 {
    margin-top: 0; }

.infografia .cita {
  font-size: 30px; }

/* --- video ----*/
.video {
  min-height: auto; }
  .video .player {
    width: 100%;
    height: 100%; }

/* --- pieza ---- */
.pieza .container {
  flex-wrap: wrap; }

.pieza .col-12 {
  justify-content: center; }

.pieza p {
  font-size: 18px; }

/* ---- parches ----- */
.parches {
  background-color: #2727e5;
  position: relative; }
  .parches .titulo {
    font-size: 3vw;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .parches .parche {
    background-color: white;
    position: absolute;
    cursor: pointer; }
    .parches .parche.playing {
      background-color: #fedb31; }
    .parches .parche:nth-child(1n) {
      top: 60vh;
      left: 10vw;
      height: 10vh;
      width: 10vh; }
    .parches .parche:nth-child(2n) {
      top: 5vh;
      left: 40vw;
      height: 12vh;
      width: 12vh; }
    .parches .parche:nth-child(3n) {
      top: 21vh;
      left: 13vw;
      height: 18vh;
      width: 18vh; }
    .parches .parche:nth-child(4n) {
      top: 56vh;
      left: 70vw;
      height: 20vh;
      width: 20vh; }
    .parches .parche:nth-child(5n) {
      top: 80vh;
      left: 40vw;
      height: 14vh;
      width: 14vh; }

/*---- side bar ---- */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column; }
  .sidebar h2 {
    transform: rotate(90deg);
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600; }
  .sidebar img {
    height: 40px; }

::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none; }

.contenido {
  scrollbar-width: none; }

/* ------ Fuentes ------ */
@font-face {
  font-family: 'Mister Pixel';
  font-weight: normal;
  src: url("../fonts/pixel.woff") format("woff"); }
