* {
  box-sizing: border-box;
  overscroll-behavior: none; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1 {
  font-family: 'IBM Plex Serif', serif;
  position: relative;
  top: 50%;
  font-size: 30px; }

/* Pantallas grandes */
#content {
  width: 300vw;
  height: 100vh;
  box-sizing: border-box;
  float: left; }

.contenido {
  width: 85vw;
  height: 100vh;
  background-color: white;
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  box-shadow: -5px 0px 25px #a6a4a4;
  transition: 0.5s; }

.selected {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: LIGHTCYAN; }
  .selected#barra_1 {
    left: 0; }
  .selected#barra_2 {
    left: 5vw; }
  .selected#barra_3 {
    left: 10vw; }
  .selected#barra_4 {
    left: 15vw; }

.siguiente {
  position: absolute;
  top: 0;
  height: 100vh;
  cursor: pointer; }
  .siguiente h1 {
    writing-mode: vertical-rl;
    transform: translate(0, -50%); }
  .siguiente:hover {
    background-color: LIGHTPINK; }
  .siguiente#barra_2 {
    left: 85vw; }
  .siguiente#barra_3 {
    left: 90vw; }
  .siguiente#barra_4 {
    left: 95vw; }

.anterior {
  position: absolute;
  top: 0;
  transition: 0.5s;
  height: 100vh;
  cursor: pointer;
  transition: 0.5s; }
  .anterior h1 {
    writing-mode: vertical-rl;
    transform: translate(0, -50%); }
  .anterior#barra_1 {
    left: 0; }
  .anterior#barra_2 {
    left: 5vw; }
  .anterior#barra_3 {
    left: 10vw; }
