* {
  box-sizing: border-box;
  overscroll-behavior: none; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none; }

h1 {
  font-family: 'IBM Plex Serif', serif;
  position: relative;
  top: 50%;
  font-size: 30px;
  margin: 0; }

#content {
  height: 100vh; }

.contenido {
  overflow-x: hidden;
  width: 85vw;
  height: 100%;
  text-align: center;
  box-shadow: -5px 0px 25px #0000002b;
  transition: 1s;
  position: absolute;
  top: 0; }

.selected#barra_1 {
  left: 0; }

.selected#barra_2 {
  left: 5vw; }

.selected#barra_3 {
  left: 10vw; }

.selected#barra_4 {
  left: 15vw; }

.siguiente, .anterior {
  cursor: pointer;
  overflow-y: hidden; }
  .siguiente h1, .anterior h1 {
    writing-mode: vertical-rl;
    transform: translate(50%, -50%); }

.siguiente#barra_2 {
  left: 85vw; }

.siguiente#barra_3 {
  left: 90vw; }

.siguiente#barra_4 {
  left: 95vw; }

.anterior#barra_1 {
  left: 0; }

.anterior#barra_2 {
  left: 5vw; }

.anterior#barra_3 {
  left: 10vw; }

section {
  height: 100%;
  background-attachment: fixed; }

footer {
  height: 300px;
  background-color: white;
  color: #213d78; }

.contenido:nth-child(odd) section:nth-child(odd) {
  background: #fdd456;
  color: #213d78; }

.contenido:nth-child(odd) section:nth-child(even) {
  background: #213d78;
  color: white; }

.contenido:nth-child(even) section:nth-child(even) {
  background: #fdd456;
  color: #213d78; }

.contenido:nth-child(even) section:nth-child(odd) {
  background: #213d78;
  color: white; }

::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none; }

.contenido {
  scrollbar-width: none; }
