* {
  box-sizing: border-box;
  overscroll-behavior: none; }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h1 {
  font-family: 'IBM Plex Serif', serif;
  position: relative;
  top: 50%;
  font-size: 30px; }

/* Pantallas grandes */
#content {
  width: 300vw;
  height: 100vh;
  box-sizing: border-box;
  float: left; }

.contenido {
  width: 85vw;
  height: 100vh;
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  box-shadow: -5px 0px 25px #0000002b;
  transition: 1s; }

.selected {
  position: absolute;
  height: 100%;
  top: 0; }
  .selected#barra_1 {
    left: 0; }
  .selected#barra_2 {
    left: 5vw; }
  .selected#barra_3 {
    left: 10vw; }
  .selected#barra_4 {
    left: 15vw; }

.siguiente {
  position: absolute;
  top: 0;
  height: 100vh;
  cursor: pointer; }
  .siguiente h1 {
    writing-mode: vertical-rl;
    transform: translate(0, -50%); }
  .siguiente#barra_2 {
    left: 85vw; }
  .siguiente#barra_3 {
    left: 90vw; }
  .siguiente#barra_4 {
    left: 95vw; }

.anterior {
  position: absolute;
  top: 0;
  height: 100vh;
  cursor: pointer; }
  .anterior h1 {
    writing-mode: vertical-rl;
    transform: translate(0, -50%); }
  .anterior#barra_1 {
    left: 0; }
  .anterior#barra_2 {
    left: 5vw; }
  .anterior#barra_3 {
    left: 10vw; }

section {
  height: 100%;
  transition: color 0.3s; }

.contenido {
  overflow-x: hidden; }
  .contenido.selected {
    overflow-x: overlay; }
  .contenido:nth-child(odd) section:nth-child(odd) {
    background: #ee7e7e; }
  .contenido:nth-child(odd) section:nth-child(even) {
    background: #80e5f0; }
  .contenido:nth-child(even) section:nth-child(even) {
    background: #ee7e7e; }
  .contenido:nth-child(even) section:nth-child(odd) {
    background: #80e5f0; }

::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none; }
